body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 30px;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 30px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.balance-container {
    text-align: center;
    margin-bottom: 20px;
}

.summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: 20px 0;
    gap: 30px;
}

.money {
    font-size: 1.8rem;
    font-weight: bold;
}

.money.plus {
    color: green;
}

.money.minus {
    color: red;
}

/* FORM FIX */
form {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

form input,
form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.btn.reset {
    background-color: #d9534f;
}

.btn:not(.reset) {
    background-color: #007bff;
}


ul {
    padding: 0;
    list-style-type: none;
    margin-top: 20px;
}

ul li {
    display: flex;
    justify-content: space-between;
    background: #ececec;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 6px;
}

ul li button {
    background: transparent;
    border: none;
    color: red;
    cursor: pointer;
}
